@import "../../styles/shared.scss";

.ui.menu.top-menu {
  height: $topmenu-height;
  border: none; /*Remove Semantic UI's bottom border*/
  .logo {
    width: $sidemenu-left-width; /* try 40% */

    .image {
      width: auto;
      padding: 8px;
    }
  }
  .nav-container {
    flex-grow: 1; /* take available space in the flex container */
    // padding: 0;
    // padding-left: 400px;

    .search-input {
      padding-left: 0;
      width: 40%;

      form {
        width: 100%;
      }
    }
  }
}
