<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="logger:LogPath" value="C:\ExtWatcher" />
  <add key="logger:LogFile" value="service_logs.log" />
  <add key="logger:FlushAtQty" value="1" />
  <add key="logger:FlushAtAge" value="5" />

  <add key="extwatcher:SupportedExtensions" value=".pdf" />
</appSettings>