<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="logger:LogPath" value="C:\ExtWatcher\Logs" />
  <add key="logger:LogFile" value="service_logs.log" />
  <add key="logger:FlushAtQty" value="1" />
  <add key="logger:FlushAtAge" value="5" />

  <add key="extwatcher:SupportedExtensions" value=".pdf" />
  <add key="extwatcher:CloudAnalyzerURL" value="http://192.168.162.1:5000/api/file-upload"/>
</appSettings>