<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\ExtWatcher" />
    <add key="LogFile" value="file.log" />
    <add key="FlushAtQty" value="10" />
    <!--<add key="FlushAtAge" value="{time-to-flush-queue-at}" />-->
  </appSettings>
</configuration>