.ui.menu.top-menu {
    border: none; /*Remove Semantic UI's bottom border*/
    .logo {
      width: 17rem;
    }
    .nav-container {
      flex-grow: 1; /* take available space in the flex container */
      padding: 0;

      .search-input {
          padding-left: 0;
          width: 33%;

          form {
              width: 100%;
          }
      }
    }
}