<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="logger:LogFile" value="file.log" />
    <add key="logger:FlushAtQty" value="10" />
    <add key="logger:FlushAtAge" value="1" />
  </appSettings>
</configuration>