<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NotifyBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NotifyBehavior" name="DirectoryMonitoring.Impl.NotifyEndpoint">
        <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration=""
            contract="DirectoryMonitoring.Common.Interface.INotify">
          <identity>
            <servicePrincipalName value="LocalSystem" />
            <dns value="" />
          </identity>
        </endpoint>
        <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/DirectoryMonitoring/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding name="DirectoryMonitoringClient" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/DirectoryMonitoring/NotifyEndpoint"
          binding="wsDualHttpBinding" bindingConfiguration="DirectoryMonitoringClient"
          contract="INotify" name="DirectoryMonitoring.Client" kind="" endpointConfiguration="">
        <identity>
          <servicePrincipalName value="LocalSystem" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>